        <div class="footer">
            <div class="l-wrapper">
                <ul class="footer-menu">
                    <li><a>홈</a></li>
                    <li><a>회사소개</a></li>
                    <li><a>이용약관</a></li>
                    <li><a>개인정보처리방침</a></li>
                    <li><a>이용안내</a></li>
                </ul>
                <p class="address">
                    <strong>더블케이코리아</strong>
                    <span>대표자(성명):구자운</span>
                    <span>사업자등록번호:657-05-01061</span>
                    <span>통신판매업신고번호: 제2018-서울관악-00797</span>
                    <br>
                    <span>전화:010-6326-0670</span>
                    <span>주소:서울특별시 관악구 쑥고개로 104 더블케이코리아</span>
                    <br>
                    <span>개인정보관리책임자:김주한</span>
                    <span>이메일:bluesky022401@gmail.com</span>
                    <span>계좌번호:110-376-881480(농협) 더블케이</span>
<!--
네이버페이 승인받을때 에스크로마크도 달아야함
https://imweb.me/faq?mode=view&category=29&category2=40&idx=13756참고
-->
                </p>
            </div>
        </div>
    </body>
</html>
