<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>한방에간다</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

        <link rel="stylesheet" href="/css/style.css">
        <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="header">

<!--            맨 위 메뉴-->

            <div class="l-wrapper">
                <div class="header-menu">
                    <ul class="header-menu-left-side">
                        <li><a href="#">즐겨찾기</a></li>
                        <li><a href="#">베스트상품</a></li>
                        <li><a href="#">제품보기</a></li>
                        <li><a href="#">커뮤니티</a></li>
                        <% if(typeof(userData) !== 'undefined' && userData.userId === 'admin'){ %>
                        <li><a href="/admin">관리자</a></li>
                        <% } %>
                    </ul>
                    <ul class="header-menu-right-side">
                      <% if(isLogin){ %>
                        <li><a href="/myshop/index">내정보</a></li>
                        <li><a href="/accounts/logout">로그아웃</a></li>
                      <% }else{ %>
                        <li><a href="/accounts/join">회원가입</a></li>
                        <li><a href="/accounts/login">로그인</a></li>
                      <% } %>
                        <li><a href="/cart">주문정보</a></li>
                        <li><a href="/myshop/checkout">장바구니</a></li>
                    </ul>
                </div>
            </div>

<!--            브랜드로고-->

            <a class="header-brand-logo" href="/">
                <img src="/images/brandlogo.png">
            </a>

<!--            아래메뉴-->
            <div class="header-wrapper-container index">
                <div class="l-wrapper">
                    <div class="header-menu-detail">
                        <ul class="l-header-menu-detail-row">
                            <li class="l-header-menu-detail-col">
                                <a href="/">홈으로</a>
                            </li>
                            <li class="l-header-menu-detail-col">
                                <a href="#">브랜드소개</a>
                            </li>
                            <li class="l-header-menu-detail-col">
                                <a href="#">제품보기</a>
                            </li>
                            <li class="l-header-menu-detail-col">
                                <a href="#">사용후기</a>
                            </li>
                            <li class="l-header-menu-detail-col">
                                <a href="#">공지사항</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
