<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node.js 쇼핑몰</title>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <!--bootstrap js 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--폰트어섬추가 -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid"> 
                <div class="navbar-header">
                    <!-- 오른쪽 메뉴바 -->
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button> 
                    <a href="/" class="navbar-brand">Shopping Mall</a>
                </div> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        <% if(typeof(userData)!=='undefined' && userData.userId==='admin'){%>
                            <li><a href="/admin/products">ADMIN</a></li>
                        <%}%>
                        <li class="active"><a href="/">후기/상품평</a></li>
                        <li><a href="/cart">마이페이지</a></li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <% if(isLogin){%>
                            <li class="active"><a href="/checkout/nomember">내정보</a></li>
                            <li><a class="logout" href="/accounts/logout" onclick="return confirm('로그아웃 하시겠습니까?')">로그아웃</a></li>
                        <%}else{%>
                            <li><a href="/accounts/signUpAgree">회원가입</a></li> 
                            <li><a class="login" href="/accounts/login">로그인</a></li>  
                        <%}%>
                        <li class="active"><a href="/cart">장바구니</a></li>
                        <li class="active"><a href="/myshop/checkout">주문조회</a></li>
                    </ul>
                </div> 
                <% if(isLogin) {%>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            ** 페이스북, 네이버, 카카오톡으로 로그인하신 경우, 각각의 서비스에서 직접 로그아웃을 하지않는 이상 로그아웃을 하더라도 다음번 로그인을 누를시에 자동로그인됨을 명심하시기 바랍니다.
                        </div>
                    </div>
                <% }%>
            </div> 
        </nav>