/* font */
/*@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');


html {
    font-size: 10px;
}

body {
/*    font-family: 'Nanum Myeongjo', serif;*/
    font-family: 'Nanum Gothic', sans-serif;
}

/* reset */
body, ul, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* layouts */

.l-desktop-wrapper {
    max-width: 1980px;
    height: auto;
    margin: 0 auto;
/*    background-color: green;*/
}

.l-wrapper {
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
}

.l-wrapper-absolute {
    max-width: 1360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.l-header-menu-detail-row {
    overflow: hidden;
    margin: 0 -1rem;
}

.l-header-menu-detail-col {
    float: left;
    width: 20%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.l-content-product-row {
    overflow: hidden;
    margin: 0 -1.5rem;
}

.l-content-product-col {
    float: left;
    width: 25%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.l-content-review-row {
    margin: 0 -1.5rem;
/*    overflow: hidden;*/
}

.l-content-review-col {
    float: left;
    width: 33.33333%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

/* grid coloumns */

.l-row {
    overflow: hidden;
    margin: 0 -1rem;
}

.l-btn-row {
    margin: 0 -0.5rem;
}

.l-col {
    padding: 0 1rem;
    float: left;
    box-sizing: border-box;
}

.l-btn-col {
    padding: 0 0.5rem;
}

.l-col-12-4 {
    width: 33.33333%;
}

.l-col-12-6 {
    width: 50%;
}

.l-col-12-3 {
    width: 25%;
}

.l-row-no-margin {
    margin: 0;
}

.l-col-no-padding {
    padding: 0;
}

/* style */

/*
/* header
header-menu-detail 5단 그리드 => mobile => 2단그리드 */

body {
    background-color: #fff;
}

.header-wrapper-container {
    margin-top: 4.5rem;
    border-top: 1px solid #2b2b2b;
/*    border-bottom: 1px solid #ddd;    */
}

.header-menu {
    font-size: 1.15rem;
    color: #666;
    overflow: hidden;
    margin-top: 1.5rem;
    letter-spacing: 0.05rem;
}

.header-menu ul li {
    float: left;
}

.header-menu ul li a {
    display: block;
    padding-bottom: 1rem;
}

.header-menu ul li a span {
    display: inline-block;
    border-right: 1px solid #cacaca;
    padding: 0 2rem;
}

.header-menu ul li:last-child a span{
    border-right: none;
}

.header-menu-left-side {
    float: left;
/*    margin-left: 20px;*/
}

.header-menu-left-side li:first-child a span{
    padding-left: 0;
}

.header-menu-right-side {
    float: right;
}

.header-menu-right-side li:last-child a span {
    padding-right: 0;
}

.menu_favor:hover, .menu_best_product:hover, .menu_show_products:hover, .menu_community:hover, .menu_join:hover, .menu_login:hover, .menu_deliver_information:hover, .menu_cart:hover {
    color: #f73660;
}

.header-brand-logo {
    display: block;
    width: 94.44px;
    height: 100px;
    margin: 0 auto;
    margin-top: 6rem;
}

.header-brand-logo img {
    width: 94.44px;
    height: 100px;
}

.header-menu-detail {
    font-size: 1.2rem;
    color: #333;
}

.dropdown-content, .small-dropdown-content {
    display: none;
}

.to_home:hover, .brand_intro:hover, .show_products:hover, .product_review:hover, .notification:hover {
    color: #f73660;
    text-decoration: underline;
}

.dropdown:hover {
/*    background-color: yellow;*/
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    position: absolute;
    font-size: 1rem;
    width: 90px;
    margin-left: -45px;
    z-index: 9999;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #696969;
    line-height: 1.3rem;
/*    background-color: green;*/
}

.dropdown:hover .dropdown-content a {
    padding-top: 0;
    padding-bottom: 1rem;
}

.dropdown:hover .dropdown-content a:first-child {
    padding-top: 1rem;
}

.small-dropdown:hover .small-dropdown-content {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 90px;
    text-align: center;
}

.small-dropdown:hover .small-dropdown-content a {
    border: 0;   
}

.small-dropdown:hover .small-dropdown-content a:first-child {
    padding-top: 1rem;    
}

.dropdown:hover .dropdown-content:hover, .small-dropdown:hover .small-dropdown-content:hover {
    border: 1px solid #333;
}

.men_product:hover:after, .women_product:hover:after, .couple_product:hover:after, .etc_product:hover:after {
    content: "*";
    position: absolute;
    left: 10%;
    color: #f73660;
}

.men_product:hover, .women_product:hover, .couple_product:hover, .etc_product:hover {
    color: #f73660;
}

.header-menu-detail a {
    display: block;
    text-align: center;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
}

/* content */

.content {
    margin-top: 2.5rem;
}

.content-slide-cover-main {
    padding-top: 35%;
    position: relative;
    overflow: hidden;
/*    background-color:green;*/
}

.content-slide-main {
    margin-left: -20%;
    width: 140%;
    height: auto;
    position: absolute;
    top: 0;
}

.content-slide img {
    vertical-align: top;
/*
    slick slider 사용하지 않을때는 밑에 option들로 반응형을 잡는다
    margin-left: -20%;
    width: 140%;
    height: auto;
    position: absolute;
    top: 0;
    background-color: red;
*/
}

.content-slide-next-block {
    display: inline-block;
    position: absolute;
    width: 10%;
    padding-top: 35%;
    top: 0;
    right: 0;
    text-indent: -9999px;
    z-index: 1000;
}

.content-slide-prev-block {
    display: inline-block;
    position: absolute;
    width: 10%;
    padding-top: 35%;
    top: 0;
    left: 0;
    text-indent: -9999px;
    z-index: 1000;
}

.content-slide-arrow-container {
    background-color: lightyellow;
    padding-top: 37.05%;
    position: relative;
}

.content-slide-next-arrow {
    width: 25px;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    right: 0;
}

.content-slide-prev-arrow {
    width: 30px;
    height: 40px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    left: 0;
}

.content-slide-next-arrow.small, .content-slide-prev-arrow.small {
    width: 15px;
    height: 20px;
}


.content-slide-cover-sub {
    padding-top: 13.63922%;
    position: relative;  
    margin-top: 8rem;
}

.content-slide-sub {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

.content-slide-sub img {
    vertical-align: top;
}

/* 베스트상품 */

.content-title.best {
    margin-top: 5rem;
}

.content-title.event {
    margin-top: 10rem;
}

.product_sorting{
    font-size: 1.2rem;
    color: #707274;
    letter-spacing: 5px;
    width: 178px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}

.content-product {
    margin-top: 5rem;
}

.product_image_container {
    overflow: hidden;
}

.product_image_container:hover ~ .product_desc .product_name {
    border-bottom: 1px solid black;
}

.product_image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product_image:hover {
    transform:scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.product_desc {
    margin-top: 1.5rem;
    font-weight: 800;
}

.product_name {
    text-align: center;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 1rem;
}

.product_name span {
    font-size: 1.5rem;
    color: #555555
}

.product_price {
    margin-top: 1.3rem;
    text-align: center;
}

.product_price span {
    font-size: 1.3rem;
    color: #f73660;
}

/* 메인리뷰 */

.review-container {
    margin-top: 5rem;
    overflow: hidden;
}

.review-slide {
    overflow: hidden;
}
/* slick-slide 클래스는 slick slider에서 제공해주는 pseudo 클래스 */
.slick-slide .review-wrapper {
    opacity: 0.4;
}

.slick-current .review-wrapper{
    opacity: 1;
}

.review-wrapper {
    overflow: hidden;
    border: 1px solid rgb(232, 232, 232);
}

.review-image-container {
    width: 50%;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50%;
}

.first {
    background-image: url(images/review1.jpg);
}

.second {
    background-image: url(images/review2.jpg);
}

.third {
    background-image: url(images/review3.jpg);
}

.fourth {
    background-image: url(images/review1.jpg);
}

.fifth {
    background-image: url(images/review4.jpg);
}


.review-desc {
    margin-left: 1rem;
    overflow: hidden;
}

.review-desc h4 {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 3em;
/*
    white-space: normal;
    line-height: 1.2;
    word-wrap: break-word;
*/
/*    height: 3.6em; */
/*
    text-align: left;
*/
}

.review-desc p {
    font-size: 1rem;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}

.review-more-button-container {
    position: relative;
}


.review-more-button {
    width: 130px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    border: 1px solid #2b2b2b;
    margin-top: 3rem;
}

.review-more-button span {
    font-size: 1.2rem;
    color: #707274;
    letter-spacing: 5px;
}

.review-slide-arrow {
    position: absolute;
    width: 20px;
    top: 50%;
    margin-top: -8px;
}

.prev {
    left: 30%;
}

.next {
    right: 30%;
}

.footer-menu {
    overflow: hidden;
    margin-top: 10rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(232, 232, 232);;
}

.footer-menu li {
    float: left;
    padding: 0 1rem;
    border-right: 1px solid #888;
}

.footer-menu li:first-child {
    padding-left: 0;
}

.footer-menu li:last-child {
    border-right: none;
    padding-right: 0;
}

.footer-menu li a {
    display: block;
    color: #2e2e2e;
    cursor: pointer;
    font-size: 1.1rem;
}

.address {
    margin-top: 1.5rem;
    color: #757575;
    line-height: 20px;
    font-size: 1.1rem;
}

.address strong {
    padding: 0 10px 0 0;
}

.address span {
    padding: 0 15px 0 0;
}

/* login form module */

.section_container {
    margin-top: 5rem;   
    text-align: center;
    position: relative;
}

.section_title {
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid #222;
    line-height: 40px;
    color: #0f2155;
}

.login_form_container {
    margin-top: 3.5rem;
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    border: 1px solid #ddd;
    text-align: initial;
}

.login_form_wrapper {
    width: 400px;
    margin: 0 auto;
}

.login_form_title {
    color: #333333;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 5rem;
}

.login_form {
    margin-top: 5rem;
    overflow: hidden;
}

.login_id_label, .login_password_label {
    display: block;   
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 2.5rem;    
}

.login_password_label {
    margin-bottom: 1.5rem;
}

.login_id_label span, .login_password_label span {
    display: inline-block;
    margin-top: 0.3rem;
    float: left;
}

.login_id, .login_password {
    float: right;
    width: 340px;
    border: none;
    margin-bottom: 0.75rem;
}

input, .login_id:focus, .login_password:focus {
    outline: none;
}

.security_login {
    margin-left: 1rem;
}

.login_option_list {
    margin-top: 0.5rem;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.login_option_list li {
    float: right;
    margin-right: 1.5rem;
}

.login_option_list li:first-child {
    margin: 0;
}

.login_button {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    padding: 1rem 0;
    background-color: #f73660;
    color: #fff;
    border: none;
    margin-bottom: 1.5rem;
}

.naver, .fb, .kakao {
    margin: 0;    
}

.background-login-logo {
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10% center;
    margin-bottom: 5rem;
}

.naver {
    background-image: url(images/naver_login.png);
    background-color: #26c826;
}

.fb {
    background-image: url(images/facebook_login.png);
    background-color: #536fab;
}

.kakao {
    background-image: url(images/kakao_login.png);
    background-color: #ffeb03;
    color: black;
}

.naver span, .fb span, .kakao span {
    margin-left: 10%;
}

/* register form container */

caption {
    display: none;
}

.register_form_container {
    margin-top: 4rem;
}

.register_form_container h3 span, .register_form_container h3 img {
    float: right;
    margin-right: 0.5rem;
    font-weight: normal;
    font-size: 1.2rem;
}

.register_form {
    margin-top: 1.5rem;
}

.register_form h3 {
    font-size: 1.3rem;
}

.registration_table {
    color: color: #353535;;
    border: 1px solid #d7d5d5;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.registration_table th {
    font-weight: normal;
    padding: 1rem 0 1rem 1.5rem;
    text-align: left;
    background-color: #fbfafa;
    line-height: 2rem;
    background-image: url(images/required.gif);
    background-repeat: no-repeat;
    background-position: 2.5% 40%;
}

.registration_table td {
    padding-left: 1rem;
}

.registration_table td input {
    line-height: 1.7rem;
}

.register_password, .register_password_check {
    letter-spacing: 0.2rem;
}

.register_address input {
    margin-bottom: 0.7rem;
}

.register_address button {
    margin-left: 0.5rem;
}

.register_address input:first-child {
    margin-top: 0.7rem;
}

.register_post_code {
    width: 5rem;
}

.register_main_address, .register_sub_address {
    width: 25rem;
}

select { 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none; 
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
    display: none; 
}

select { 
    display: inline-block;
    width: 5rem; /* 원하는 너비설정 */ 
    font-family: inherit; /* 폰트 상속 */ 
    line-height: 19px;
    padding-top: 0.23rem;
    background: url("/images/updownarrowgrey.png") no-repeat 97.5% 60%;
    background-size: 12%;
    /* 네이티브 화살표 대체 */ 
    border: 1px solid #d7d5d5;
    background-color: white;
    border-radius: 0;
    border: 1px solid #d5d5d5;
    text-indent: 0.7rem;
    background-color: rgb(248, 248, 248);
    
    /* iOS 둥근모서리 제거 */
}

.phone2, .phone3, .mobile2, .mobile3 {
    width: 50px;
    border: 1px solid #d5d5d5;
}

.default_val span {    
    color: green;
}

.email_selection {
    width: 10rem;
    background: url(images/arrow_down.png) no-repeat 90% 60%; 
    background-size: 6%;
    background-color: rgb(248, 248, 248);
}

select option span{
    color: green;
}

.entire_agree_container {
    margin-top: 1.5rem;
    background-color: #fbfafa;
    border: 1px solid #d8d5d5;
    font-size: 1.1rem;
}

.agree_section {
    border-bottom: 1px solid #d8d5d5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.agree_section:last-child {
    border-bottom: none;
}

.agree_section_inner {
    padding: 0 2rem;
}

.check_all strong {
    font-size: 1.3rem;
}

.agree_section h4 {
    margin-bottom: 1.5rem;
}

.agree_scroll_description {
    overflow: scroll;
    background-color: #fff;
    height: 13rem;
    padding: 1.3rem;
    line-height: 2.5rem;
    word-spacing: 0.1rem;
    border: 1px solid #d5d5d5;
}

.agree_scroll_description p {
    color: #747474;
    padding: 1rem 1rem;
}

.do_you_agree {
    margin-top: 1rem;
}

.registration_submit_button {
    
}

/* 상품 상세페이지 */

.product_detail_container {
    margin-top: 8rem;
    position: relative;
/*    border-bottom: 1px solid #ccc;*/
    padding-bottom: 5rem;
}

/* 
    product_detail_image_cover_container를 max-width: 680px이런식이아닌 %로 잡은이유는
    overflow hidden된 product_detail_desc_container가 반응형으로 잡히지않기때문
    따라서 모바일 반응형을 만들때 overflow:hidden을 제거하고 100%를 때려줘야함
*/

.product_detail_image_cover_container {
    width: 60%;
    overflow: hidden;
    float: left;
    margin-right: 5%;
/*    box-shadow: 0 0 50px rgba(0,0,0,0.5);   */
}

.product_detail_image_cover {
    position: relative;
    overflow: hidden;
}

.product_detail_image_cover .fake_image {
    width: 100%;   
    vertical-align: top;
}

.product_detail_image_cover .product_image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.product_detail_desc_container {
    width: 35%;
    overflow: hidden;
    margin-top: 5rem;
}

.product_name {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    border: 0;
}

.product_name span {
    display: block;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.product_desc_table {
    padding-bottom: 4rem;
    border-bottom: 1px solid #c9c9c9;
    width: 100%;
}

.product_desc_table th, .product_desc_table td {
    padding-top: 1.5rem;
    font-size: 1.15rem;
}


.product_desc_table tr:first-child th, .product_desc_table tr:first-child td {
    padding-top: 0;
} 

.product_desc_with_select_box th, .product_desc_with_select_box td {
    padding-top: 4rem;
} 

.product_detail_selection {
    width: 100%;
    background: url(/images/updownarrowgrey.png) no-repeat 97.5% 60%;
/*    background: url(images/arrow_down.png) */
    background-size: 2.5%;
}

.product_desc_table th{
    width: 100px;
    text-align: left;
}

.product_desc_table td {
    width: auto;
    text-align: left;
}

.product_detail_name_price {
    margin: 2rem 0;
    overflow: hidden;
    line-height: 2.3rem;
}

.product_detail_name {
    vertical-align: middle;
    font-size: 1.2rem;
}

.product_detail_price {
    font-size: 1.4rem;   
    margin-left: 1rem;
}

.product_detail_quantity {
    background-size: 20%;
}

.product_detail_quantity, .product_detail_price {
    float: right;
}

.total_value {
    border-top: 1px solid #c9c9c9;
    padding-top: 2rem;
    font-size: 1.3rem;
    text-align: right;
}

.delimeter {
    margin: 0 1rem;
}

.product_detail_btn_area {
    margin-top: 2rem;
}

.product_detail_btn_area a {
    display: block;
    padding: 2rem 0;
    text-align: center;
    border: 1px solid #c9c9c9;
}

.purchase:hover, .put_cart:hover {
    border: 1px solid #333;
    background-color: #333;
    color: white;
}

.put_like:hover {
    border: 1px solid #f7365f;
    background-color: #f7365f;
    color: white;
}

.product_for_customers {
    margin-top: 20rem;
}

.pfc_desc_activated {
    margin-top: 10rem;
}

.product_for_customers ul li:first-child a {
    border-left: 1px solid #e4e4e4;
}

.product_for_customers ul li a {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #666;
    background-color: #f7f7f7;
    padding: 1.5em 0;
}

.pfc_desc:hover, .pfc_review:hover, .pfc_inquiry:hover, .pfc_delivery:hover {
    background-color: #fff;
}

.pfc_desc_activated ul li:first-child a, .pfc_review_activated .pfc_review, .pfc_inquiry_activated .pfc_inquiry, .pfc_delivery_activated .pfc_delivery {
    background-color: #fff;
    border-top: 2px solid #666;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 0;
    padding-top: 1.4em 0;
}

/* 상품후기부분 */

.pfc_table_order {
    margin-top: 3rem;
    font-size: 1.2rem;
}

.pfc_table_order h3 {
    display: inline-block;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.order_newest, .order_rates {
    color: #666;
}

.order_newest:hover, .order_rates:hover {
    font-weight: bold;
    color: #333;
}

.pfc_table {
    margin-top: 2rem;
/*    border-top: 1px solid #333;*/
    width: 100%;
}

.pfc_table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    color: #555;
}

.pfc_table_headrow {
    border-top: 1px solid #333;
}

.pfc_table th {
    line-height: 40px;
}

.pfc_table_datarow {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 90px;
    line-height: 23px;
    text-align: center;
}

.datarow_review, .datarow_inquiry{
    text-align: left;
    padding: 20px 30px;
}

.datarow_inquiry_condition span {
    color: #f44289;
}

.datarow_rates img {
    margin-left: -4px;
}

.datarow_rates img:first-child {
    margin-left: 0;
}

/* 리뷰가 비었을때 nodata를 적용한다 */
.nodata {
    line-height: 140px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.nodata span {
    color: #aaa;
}

.pfc_review_write {
    text-align: right;
    margin-top: 1.5rem;
}

.pfc_review_write a {
    display: inline-block;
    border: 1px solid #c9c9c9;
    color: #6c686b;
    padding: 10px 15px;
    text-align: center;
}

.pfc_review_write a:hover {
    border: 1px solid #333;
    background-color: #333;
    color: white;
}




/* 상품문의부분 */





/* 배송안내부분 */

