<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>19세 이상만 입장가능합니다.</h1>
    <a id="certification" href=""><h2>실명인증하기</h2></a>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    $(document).ready(function(){
        $('#certification').click(function(){
            var IMP = window.IMP;
            IMP.init("imp13574884");
            IMP.certification({
                popup: true
            }, function(rsp) {
                if ( rsp.success ) {
                    // 인증성공
                    console.log(rsp.imp_uid);
                    console.log(rsp.merchant_uid);
                    
                    $.ajax({
                            type : 'POST',
                            url : '/certifications/confirm',
                            dataType : 'json',
                            data : {
                                imp_uid : rsp.imp_uid
                            }
                    }).done(function(rsp) {
                            // 이후 Business Logic 처리하시면 됩니다.
                    });
                        
                } else {
                    // 인증취소 또는 인증실패
                    var msg = '인증에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;

                    alert(msg);
                }
            });
        })
    })
</script>
</html>
