<% include ../partials/header %>
    <div>
        <h3>비밀글보기</h3>
        <form action="" method="post">
            <p>이 글은 비밀글입니다. 비밀번호를 입력하여 주세요.<br>관리자는 확인버튼만 누르시면 됩니다.</p>
            <p>
                <label for="password">PASSWORD</label>
                <input type="password" name="password">
            </p>
            <a href="/board/QnA">목록</a>
            <input type="submit" value="확인">
        </form>
    </div>
<% include ../partials/footer %>